<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rlshop.mapper.ItemInfoMapper">
	<!--namespace 应该与mapper接口保持一致  -->
	<select id="findItemById"  resultType="Item">
		SELECT * FROM 
			(SELECT * FROM  item GROUP BY id)t 
			WHERE t.id=#{id}
	</select>

	<insert id="saveItem">
		insert into item(id,title,sellpoint,itemurl,price,itemtype,num)
		 values (#{id},#{title},#{sellPoint},#{itemUrl},#{price},#{itemType},#{num})
	</insert>
	
	<update id="updateItemIncluImg">
		update item set title=#{title},sellpoint=#{sellPoint},itemUrl=#{itemUrl},
		price=#{price},itemtype=#{itemType},num=#{num} where id=#{id}
	</update>
	<update id="updateItemNoImg">
		update item set title=#{title},sellpoint=#{sellPoint},
		price=#{price},itemtype=#{itemType},num=#{num} where id=#{id}
	</update>
	
	<delete id="deleteItemById">
		delete from item where id = #{itemId}
	</delete>
	
	<update id="updateNum">
		update item set num=num-#{num} where id=#{id}
	</update>
</mapper>